/* * {
  border: 1px solid red;
} */

body {
  font-family: "lato", sans-serif;
}

.main-style {
  position: relative;
  width: 75%;
  height: 50%;
  margin: auto;
  overflow: auto;
}

.main-para {
  position: absolute;
  width: 40%;
  height: 50%;
  margin: auto;
  overflow: auto;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
}


.link:active {
  color: ;
}


.blog-article {
  position: relative;
  left: 25em;
  margin-bottom: 1.5em;

}

.blog-picture {
  position: relative;
  left: 40em;
  bottom: 10em;
  width: 50em;
}

.bgc { color: #FFF5F5;}
.c-black { color: black; }
.m-a { margin: auto;}
.m-s { margin: 2em; }
.m-xs { margin: 0 1em; }
.m-5fl { margin: 0 0 0 5em; }
.m-l-l { margin-left: 25em; }

.d-i { display: inline; }
.d-ib { display: inline-block; }

.fl { float: left; }
.fr { float: right; }

.fw-b { font-weight: bold; }
.fz-xxl { font-size: 2.5em }
.fz-l { font-size: 1.2em; }

.l-3 { left: 3%;}

.p-lr5 { padding: 0 5em;}

.pos-r { position: relative;}

.ta-c { text-align: center; }

.w-l { width: 50em; }
.w-33 { width: 33%;}
.w-30 { width: 30%;}
.w-53 { width: 53%;}




