* {
  border: 1px solid red;
}

.d-i { display: inline; }

.fl { float: left;}



.ff-ss { font-family: sans-serif; }

.fz-xxl { font-size: 2.5em }
.fz-l { font-size: 1.2em; }

.ta-c { text-align: center; }



